In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#group = pd.read_csv("Group_xx.csv")
train = pd.read_csv("train.csv")
#test = pd.read_csv("test.csv")
#val = pd.read_csv("validation.csv")

In [4]:
train.insert(0, 'Imps', 1)

In [5]:
## cost spent on clicks (for effective cost)
train['clickcost'] = train['click']*train['payprice']

In [6]:
train['slot_size']= train['slotwidth']*train['slotheight']

In [7]:
train['OS'],train['browser'] = train['useragent'].str.split('_', 1).str

In [8]:
train.head(10)

,Imps,click,weekday,hour,bidid,userid,useragent,IP,region,city,...,creative,bidprice,payprice,keypage,advertiser,usertag,clickcost,slot_size,OS,browser
0,1,0,5,22,b7bea80521fdecd95d2d761a38c91c3f09618066,2e880fb7d690cf7377b2e42e701728e3f3c0e4c1,windows_ie,125.37.175.*,2,2,...,a4f763f78ef3eedfe614263b94a8924e,238,5,0f951a030abdaedd733ee8d114ce2944,3427,NaN,0,40000,windows,ie
1,1,0,1,20,4f51205475678f5a124bc76b2c54163bf8eaa7eb,3a1fe01360ff8100e7d006b83b77a3e4c01d928c,windows_chrome,171.36.92.*,238,239,...,10722,294,23,NaN,2821,NaN,0,75000,windows,chrome
2,1,0,3,13,b604e3fd054a658ab7ced4285ebf2ef54d2bd890,801d18a056b6fe6b06a794aef17fb0d6daff2414,windows_ie,59.46.106.*,40,41,...,798b2d49952d77f1eace9f23c210d0b5,238,24,0f951a030abdaedd733ee8d114ce2944,3427,"10052,10006,13866,10110",0,62500,windows,ie
3,1,0,6,23,0348beeae93e561584c3b50fc9e7746a33048ad7,0d6eaf2259699990e38a1fc5116f112070b9ecdc,windows_ie,114.250.226.*,1,1,...,cb7c76e7784031272e37af8e7e9b062c,300,25,bebefa5efe83beee17a3d245e7c5085b,1458,"13866,10063,10111",0,96000,windows,ie
4,1,0,5,6,268149c1789bce2bc9798ffd97ec431219bafeb3,a239d9bb642460d974ba67f85e63b8d3e214da0e,windows_ie,183.63.192.*,216,233,...,7330,277,133,NaN,2259,NaN,0,65520,windows,ie
5,1,0,4,17,1be2cf4a47a2a6aee4b0fa64d1b786d3897be4f0,8810fd690f88ddfb797867e3e08e7816f274bd46,windows_ie,119.45.182.*,276,277,...,77819d3e0b3467fe5c7b16d68ad923a1,300,123,bebefa5efe83beee17a3d245e7c5085b,1458,"10006,10077,10063,10057,10110",0,94080,windows,ie
6,1,0,3,12,6b4f23dd215a5f11136c2f29214236cfee1f0122,fbd1bcaf2b33108d2c7f88ac41f0b0194b508a9b,windows_ie,112.82.93.*,80,89,...,86c2543527c86a893d4d4f68810a0416,300,20,43f4a37f42a7c5e6219e2601b26c6976,3386,"10083,10024,10063,13496,10093,10006,10057,10110",0,90000,windows,ie
7,1,0,3,16,f7c1d8ea177211249456c79e194617ce107bc077,9b539ba886146562a3991fd9f94bb9f9bad1f647,windows_ie,118.75.92.*,15,19,...,cb7c76e7784031272e37af8e7e9b062c,300,134,bebefa5efe83beee17a3d245e7c5085b,1458,"10063,10024,13800,13866,10006,10111",0,96000,windows,ie
8,1,0,5,14,9e97694096fe8692851048a893231a7f7ff87922,ddc9c85b6a5726aafaa4c42239e90fb7a44a88d7,windows_ie,61.185.128.*,333,342,...,832b91d59d0cb5731431653204a76c0e,300,70,bebefa5efe83beee17a3d245e7c5085b,1458,"10063,10006,10083,10110",0,90000,windows,ie
9,1,0,5,0,d1b7c7fdb88ce3aa78a540bb29848dd77329a574,63b4f9a3638f81af361ab3c4190fd3e1b5e70fea,windows_chrome,117.9.211.*,2,2,...,a10c31a8ff5f42930b4c34035e523886,241,77,d29e59bf0f7f8243858b8183f14d4412,3358,"13403,10031,10063,10083,10006,10077,10075,10110",0,90000,windows,chrome

In [9]:
train_df = train.drop(['usertag','slotvisibility','slotformat','bidid','userid','useragent','IP','domain','url','urlid','slotid','creative','keypage'], axis=1)
train_df.head(5)

,Imps,click,weekday,hour,region,city,adexchange,slotwidth,slotheight,slotprice,bidprice,payprice,advertiser,clickcost,slot_size,OS,browser
0,1,0,5,22,2,2,2.0,200,200,5,238,5,3427,0,40000,windows,ie
1,1,0,1,20,238,239,1.0,300,250,0,294,23,2821,0,75000,windows,chrome
2,1,0,3,13,40,41,2.0,250,250,5,238,24,3427,0,62500,windows,ie
3,1,0,6,23,1,1,1.0,160,600,0,300,25,1458,0,96000,windows,ie
4,1,0,5,6,216,233,2.0,728,90,133,277,133,2259,0,65520,windows,ie

In [10]:
ad = train_df.groupby('advertiser')

In [11]:
ad_click_df = pd.DataFrame(ad['click'].sum())
ad_click_df

            click
advertiser
1458          385
2259           43
2261           36
2821          131
2997          217
3358          202
3386          320
3427          272
3476          187

In [13]:
stats = train_df[['Imps','click','bidprice','payprice','advertiser','clickcost']]
stats = stats.groupby('advertiser').sum()
stats

              Imps  click   bidprice  payprice  clickcost
advertiser
1458        492353    385  147705900  33968736      37182
2259        133673     43   38508376  12428238       4627
2261        110122     36   31701699   9873779       4752
2821        211366    131   61343675  18828044      15699
2997         49829    217   13802633   3129267      19321
3358        264956    202   61729738  22447231      22396
3386        455041    320  136512300  34931823      37996
3427        402806    272   95218860  30458711      28161
3476        310835    187   77042367  23918779      18963

In [14]:
stats['CTR %'] = stats['click']/stats['Imps']*100
stats

              Imps  click   bidprice  payprice  clickcost     CTR %
advertiser
1458        492353    385  147705900  33968736      37182  0.078196
2259        133673     43   38508376  12428238       4627  0.032168
2261        110122     36   31701699   9873779       4752  0.032691
2821        211366    131   61343675  18828044      15699  0.061978
2997         49829    217   13802633   3129267      19321  0.435489
3358        264956    202   61729738  22447231      22396  0.076239
3386        455041    320  136512300  34931823      37996  0.070323
3427        402806    272   95218860  30458711      28161  0.067526
3476        310835    187   77042367  23918779      18963  0.060161

In [15]:
#stats['CPM'] = stats['payprice']/(stats['Imps']/1000)
stats['CPM'] = stats['payprice']/(stats['Imps'])
stats

              Imps  click   bidprice  payprice  clickcost     CTR %        CPM
advertiser
1458        492353    385  147705900  33968736      37182  0.078196  68.992646
2259        133673     43   38508376  12428238       4627  0.032168  92.974931
2261        110122     36   31701699   9873779       4752  0.032691  89.662184
2821        211366    131   61343675  18828044      15699  0.061978  89.077922
2997         49829    217   13802633   3129267      19321  0.435489  62.800116
3358        264956    202   61729738  22447231      22396  0.076239  84.720599
3386        455041    320  136512300  34931823      37996  0.070323  76.766320
3427        402806    272   95218860  30458711      28161  0.067526  75.616329
3476        310835    187   77042367  23918779      18963  0.060161  76.950083

In [16]:
stats['eCPC']=stats['payprice']/stats['click']/1000
stats

,Imps,click,bidprice,payprice,clickcost,CTR %,CPM,eCPC
advertiser,,,,,,,,
1458,492353,385,147705900,33968736,37182,0.078196,68.992646,88.230483
2259,133673,43,38508376,12428238,4627,0.032168,92.974931,289.028791
2261,110122,36,31701699,9873779,4752,0.032691,89.662184,274.271639
2821,211366,131,61343675,18828044,15699,0.061978,89.077922,143.725527
2997,49829,217,13802633,3129267,19321,0.435489,62.800116,14.420585
3358,264956,202,61729738,22447231,22396,0.076239,84.720599,111.124906
3386,455041,320,136512300,34931823,37996,0.070323,76.766320,109.161947
3427,402806,272,95218860,30458711,28161,0.067526,75.616329,111.980555
3476,310835,187,77042367,23918779,18963,0.060161,76.950083,127.907909

In [17]:
stats['eCost'] = stats['clickcost']/(stats['payprice'])
stats

,Imps,click,bidprice,payprice,clickcost,CTR %,CPM,eCPC,eCost
advertiser,,,,,,,,,
1458,492353,385,147705900,33968736,37182,0.078196,68.992646,88.230483,0.001095
2259,133673,43,38508376,12428238,4627,0.032168,92.974931,289.028791,0.000372
2261,110122,36,31701699,9873779,4752,0.032691,89.662184,274.271639,0.000481
2821,211366,131,61343675,18828044,15699,0.061978,89.077922,143.725527,0.000834
2997,49829,217,13802633,3129267,19321,0.435489,62.800116,14.420585,0.006174
3358,264956,202,61729738,22447231,22396,0.076239,84.720599,111.124906,0.000998
3386,455041,320,136512300,34931823,37996,0.070323,76.766320,109.161947,0.001088
3427,402806,272,95218860,30458711,28161,0.067526,75.616329,111.980555,0.000925
3476,310835,187,77042367,23918779,18963,0.060161,76.950083,127.907909,0.000793